.header {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;          
  width: 100%;     /* Full width */
  height: 230px;
  background-color: rgb(254,252,237); /* Background color */
  display: flex;
  align-items: center; /* Align text to the left */
  justify-content: space-around;
  /* box-shadow: 0px 2px 5px rgba(0,0,0,0.2); Optional: adds a shadow for better visibility */
  z-index: 10;   /* Ensure it's above other content */
}
/* Define a class for the navigation links */
.nav-link {
  font-size: 1.2rem;
  font-family: URW Chancery L, cursive; /* Change to your desired font */
  text-decoration: none; /* Removes underline */
  color: black; /* Sets the text color; change as needed */

  /* To prevent color change on click (visited link) */
  &:visited {
    color: black;
  }
}

.logo {
  position: relative;
  left: 130px;
  width: auto;
  height: 100%;
}
.logo img{
  width:auto;
  height:100%
}

.header a {
  margin: 10px; /* Spacing around buttons */
  padding: 10px; /* Padding inside buttons */

}
.submenu {
  display: none; /* Initially hidden */
  position: absolute; /* Adjust as per your layout */
  /* Add more styles for submenu */
}

.category div:hover .submenu {
  display: block; /* Show on hover */
}

.book button{
  font-size: 1.6rem;
  font-family: Snell Roundhand, cursive;
  font-style: italic;
  color: darkgreen;
}


